body {
  background-image: url(/asset/fondoContacto.jpg);/* Fondo del Sitio Editado con Photoshop */
  font-family: Arial, Helvetica, sans-serif;/* Tipo de Letra */
  min-height: 100vh;/* Tamaño de La visualización  */
  display: flex;
  align-items: center;
  justify-content: center;
}

