*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-image: url(/LandingPage/NeW/LandingPage/asset/fondoContacto.jpg); /* Fondo del Sitio Editado con Photoshop */
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

label{
display: block;
margin-bottom: 15px;

}



input {
  display: block;
  width: 100%;
  padding: 20px;
  border:2px solid red;
  border-radius: 25px;
}

.formulario {
  background-color: blueviolet;
  width: clamp(320px, 20% 430px);
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 20px;
  padding: 25px;
}

.Conteinput{
margin:10px 0 ;

}
