* {
  /* selector universal */

  margin: 0; /* margenes del sitio */
}
html {
  box-sizing: border-box; /* calcula las dimensiones de los elementos */
  font-family: sans-serif;
}

body {
  height: 100vh; /* tamaño del body */
  color: white;
  background-size: 70vh; /* tamaño del fondo del sitio*/
  background-image: url(/asset/polygon-scatter-haikei.png); /* imagen del fondo del sitio */
}

.contnav {  /* Contendor del navbar */
  background-color: rgb(50, 0, 90);/* Color del Fondo */
  display: flex;/*  Tipo de display */
  list-style: none;/*  Tipo de Listas */
  justify-content: center;/* Centrar contenido */
  flex-direction: row;/*  Direccion del Contenido */
}

.list1 { /* Contenedor de Listas */
  display: flex;/* Tipo de Display */
}

a{
  color:white;
  text-decoration: none;
}


li {/*  Listas  */
  min-width: 200px; /* Tamaño de espaciado mínimo */
  display: flex;/* Tipo de Display */
  flex-direction: row;/* Dirección */
  justify-content: space-around;/* Separación de las listas */
  list-style: none;/* Borrado de Puntos */
  text-decoration: none;
}
li:hover {/* Efectos Sobre las Listas */
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);/* Colores Bi-tono para el fondo */
  color: white;
  transition: all 0.8s;/* Tiempo de La Transición */
  cursor: pointer;/* Tipo de cursor */
}

.conte1 {
  /* contenedor del logo del header */
  display: flex;
}

.LogodePag {
  /* Logo del header */
  height: 60px; /* tamaño */
}

#contenedorab { /* Contenedor del Menu con calculo para el Footer  */
  max-height: calc(100vh -150px -200px);/* 100 del espacio visible menos 150px del header y los 200px del footer */
  display: flex;
  justify-content: center;
}

.conteMenu {/* Contenedor de la Presentación */
  font-size: 29px;/* Tamaño de la letra */
  text-align: center;/* alineado del contenido */
  align-items: center;
  color: rgb(239, 239, 239);
  margin-top: 100px;
  margin-bottom: 60px;
}


header {/* Cabecera */
  position: fixed;
  display: flex;/* Tipo de display */
  border-bottom: 2px solid red;/* Linea del Final  */
  height: 150px;/* Altura del header */
  width: 100vw;
  background-image: linear-gradient(to right, #020101 0%, rgb(33, 3, 82) 100%);/* Color Bi-tono del fondo */
  justify-content: center;/* Alineacion */
  align-items: center;
}
.contactobtn {/* Contenedor del Botón */
  border-radius: 15px;/* Borde Redondeado */
  border: 1px solid red; /* Color del borde del boton */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;/* Ancho */
  height: 70px;/* Alto */
  position: relative;/* Posición */
  left: 500px;/* Alineado  la posición deseada */
}
.contactobtn:hover {/* Efecto sobre el botón */
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);/* Color */
  color: black;/* Color de Letra */
  transition: 0, 8s;/* Tiempo de Transición */
}

.letrancla{
  text-decoration: none;/* Quitar Subrayado */
  color: white;/* Cambio de color */
}

main {
  padding: 100px;/* Agregar Separación en el Menú */
}

footer {
  margin-top: 500px;
  width: 100%;/* Ancho del Footer */
  border-top: 2px solid red;/* Borde de color */
  align-items: center;/* Alineado de Elementos */
  height: 200px;/* Altura */
  display: flex;
  background-image: linear-gradient(to right, #020101 0%, rgb(33, 3, 82) 100%);/* Color */
  justify-content: center;
}

.list2 {/* Lista 2 */
  min-width: 700px;/* Separación de lo elementos de la lita */
  display: flex;
  list-style: none;/* Quitando Puntos */
  justify-content: space-between;/* Agraga Separación */
  align-items: center;
  text-align: end;
}

.Miperfil{
 color: rgb(248, 248, 248);
 margin-bottom: 20px;
}

.Agustin{
width: 950px;
height: 300px;
border-radius:25px;
box-shadow: 10px 3px 10px 2px rgb(222, 11, 11), -10px 0 4px rgb(77, 2, 104);
 margin-bottom: 40px;

 
}

.parrafo1{
margin-bottom: 70px;


}

#FDC{
position: fixed;

}


form {
 
  background-color: rgb(87, 7, 162);/* Color de fondo */
  padding: 50px 55px;/* Agregando espacios */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);/* Sombras bajo el Formulario */
  text-align: center;
  width: 340px;/* Ancho */
  border-radius: 20px;/* Bordes Redondeados */
}

.conteform {/* Contenedor del los elementos del formulario */
  display: flex;
  flex-direction: column;/* Alinear elementos uno por encima del otro */
  
}

h2 {
 
  color: rgb(255, 255, 255);/* color de la letra */
  font-size: 37px;/* Tamañp de la letra */
}

label {
  color: rgb(224, 33, 22);/* Color de los nombres de las casillas */
  font-size: 20px;/* Tamaño de las Letras */
  margin-bottom: 15px;/* Leve sepacion hacia abajo entre casillas */
  text-align: center; /* Alinear texto al centro */
}
::placeholder {
  color: rgb(10, 2, 2);/* Color de las letras del placeholder */
}

input,
textarea {
  border: 2px solid red; /* Bordes del las casillas */
  padding: 25px 15px; /* Tamaño de las casillas */
  border-radius: 25px;/* Boredes redondeados */
  margin-bottom: 25px;/* sepacion por debajo */
  background-color: rgb(255, 254, 254);
  outline: none;/* Quita el efecto que aplica al hacer click sobre la casilla */
}
.btne {
  width: 200px;/* Tamaño del Botón */
  color: rgb(234, 21, 21);/* Su color */
  font-size: 20px;/* Tamaño de la letra */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);/* Sombra  */
}

.btne:hover {/* Efecto del Botón */
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);/* Color del efecto */
  color: blanchedalmond;/* Color de la letra */
  cursor: pointer;/* Cambio del cursor */
}
#boton2{
  border-radius:10px;
  color: rgb(255, 255, 255);
  font-size:15px;
  background-color: black;
  border: 2px solid rgb(255, 0, 0);

}
#OcultarForm{
  display: none;
}

#boton{
position: relative;
bottom: 45px;
right: 00px;
height: 60px;
padding: 20px;
width: 130px;
border-radius:10px;
color: rgb(255, 255, 255);
font-size:15px;
background-color: black;
border: 2px solid rgb(255, 0, 0);
}

#boton:hover{
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
 color: blanchedalmond;/* Color de la letra */
  cursor: pointer;/* Cambio del cursor */

}
h3{
  font-size: 20px;
  margin-bottom: 15px;
  color: red;
}

.conteimg{
  padding: 40px;
  display: flex;
  justify-content:space-around;
  margin-bottom: -350px;
}

.pcbarata{

  margin-bottom: 20px;
  width: 390px;
  height:380px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(225, 17, 17, 0.9)
}

.pcmedia{

  margin-right: 20px;
border-radius: 25px;
width: 390px;
height:380px;
box-shadow: 0 0 20px rgba(225, 17, 17, 0.9)

}

.pcalta{
  margin-right: 20px;
border-radius: 25px;
width: 390px;
height:380px;
box-shadow: 0 0 20px rgba(225, 17, 17, 0.9)

}

.pc1{
padding: 15px;
margin-top: 20px;
line-height:2.5;
}

.pc2{
  padding: 15px;
  margin-top: 20px;
  line-height:2.5;
  }

  .pc3{
    padding: 15px;
    margin-top:-10px;
    line-height:2.5;
    }

